<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-title><ion-img id="icon" src="../../assets/icon/icon_rect.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="buttons" id="room-button" Expand="block" fill="solid" color="main"><ion-icon name="add-circle-outline"></ion-icon>マッチングルームを作成</ion-button>
  <ion-item lines="full" >
    <ion-label position="floating">参加ルームID</ion-label>
    <ion-input required type="text" [(ngModel)]="roomID" name="roomID"></ion-input>
  </ion-item>
  <ion-button class="buttons" id="join-button" Expand="block" fill="outline" color="main">対象のマッチングに参加</ion-button>
  <ion-button class="buttons" Expand="block" fill="solid" color="sub" (click)="showHelps()"><ion-icon name="help-circle-outline" ></ion-icon>ルール説明</ion-button>

  <!-- GPS & Alert test -->
  <!--
  <form>
    <ion-button (click)="onGps()">
      GPS TEST
    </ion-button>
  </form>
  -->
</ion-content>