.buttons{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

#room-button{
    margin-top:25%;
    margin-bottom: 25%;
}
#join-button{
    margin-top:10%;
    margin-bottom: 60%;
}
#icon{
    height:100px;
    width:100px;
}