<ion-header>
  <ion-toolbar color="sub">
    <ion-icon name="close-circle-outline" id="x-button" (click)="dismiss()"></ion-icon>
    <ion-title align="center">ルール説明</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-text>
    <div id="description">
    <h3 class="process">1. このゲームについて</h3>
    <h5>このゲームは新感覚帰宅部レースゲームである。ゲーム全体を通して、どれだけ帰宅の質を高められるかを競う。</h5>
    <h3 class="process">2. 試合の参加方法</h3>
    <h5>「マッチングルームを作成」もしくは「対象のマッチングに参加」で試合に参加する。</h5>
    <h3 class="process">3. マッチングについて</h3>
    <h5>「マッチングルームを作成」した人の画面に表示されるルームIDを「対象のマッチングに参加」する人が入力する。</h5>
    <h3 class="process">4. 採点について</h3>
    <h5>帰宅の質(家活の充実度/帰り道の充実度/帰宅行動へのコミット度)によって評価する。具体的には以下の3つによって評価する。</h5>
    <h4>・家までの直線時速</h4>
    <h4>・距離ボーナス</h4>
    <h4>・寄り道ボーナス</h4>
    <h3 class="process">5. ゲームの手順</h3>
    <h5>(ⅰ) 開戦ボタンで、ゲームを開始する。</h5>
    <h5>(ⅱ) できるだけ早く帰る。</h5>
    <h5>(ⅲ) 指定の寄り道箇所を撮影してボーナス獲得を狙う。</h5>
    <h5>(ⅳ) 家の「センシン君」(IoTデバイス)の表示番号を入力し、ゴールボタンでゴールする。</h5>
    <h5>(ⅴ) 勝者には祝福が！</h5>
    </div>
  </ion-text>
</ion-content>
