#x-button{
    width:40px;
    height:40px;
    margin-left:2%;
}
#description{
   margin-left:5%; 
   margin-right:5%;
}
.process{
    background-color:rgba(52,217,206,0.5);
    border: 1px solid;
    border-left: transparent;
    border-right: transparent;
    padding-left:3%;
}